.padding-form-haser {
    padding-top: 50px;
}

.padding-form-haser-button {
    margin-top: 10px;
}

.cell {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);;
    border-radius: 15px;
    margin-bottom: 10px;
}

.img-haser {
    max-width: 12vh;
    max-height: 12vh;
}

.button {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.basket {
    max-height: 525px;
    overflow-x: auto;
}

