{% if baskets %}
    <div class="col-sm-12 col-md-6">
      <h2 class="text-center">Basket</h2>
        {% for basket in baskets %}
        <div class="basket">
              <div class="cell">
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="{{basket.product.image.url}}" alt="Img" class="img-fluid">
                    </div>
                    <div class="col-sm-5">
                        <a href="{% url 'products:product' basket.product.id %}">
                            <h5>{{basket.product.name}}</h5>
                        </a>
                        {% for option in basket.product.options.all %}
                        <p style="white-space: nowrap;"><h5 style="display: inline;">{{option.name_detail}}</h5> {{option.value}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-2">
                      <h4>{{basket.product.price}}$</h4>
                    </div>
              </div>
            </div>
          </div>
        {% endfor %}
      <div class="button">
        <a href="#" class="btn btn-primary">To Pay</a>
      </div>
    </div>
{% else %}
    <div class="col-sm-12 col-md-6">
      <h2 class="text-center">Basket Is Empty</h2>
    </div>
{% endif %}
